<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>BOOK RETURN</h1>
    <form action="/return_book" method="post">

        <label for="a">Book Name:</label>
        <input type="text" id="a" name="book_name" required> <br> <br>

        <label for="b">Student Name:</label>
        <input type="text" id="b" name="student_name" required> <br> <br>

        <label for="c"> Return date:</label>
        <input type="text" id="c" name="return_date" required> <br> <br>

        
        <label for="d">Student Return date:</label>
        <input type="text" id="d" name="student_return_date" required> <br> <br>

        <label for="b"> Admin Password:</label>
        <input type="password" id="b" name="admin_password" required>  <br> <br>

        <input type="submit" value="Book Return"> <br> <br>

        
    </form>
    <a href="/home_page">HOME</a>
    
</body>
</html>